In [3]:
import requests
CLIENT_ID = 'a47a4d47ada242bf9b9da1d0853032c7'
CLIENT_SECRET = '7cad501f939a43eb933dadf7dc298350'

url = 'https://accounts.spotify.com/api/token'

auth_data = {'grant_type': 'client_credentials',
              'client_id': CLIENT_ID,
              'client_secret': CLIENT_SECRET}

r = requests.post(url, data=auth_data) # POST 방법으로 응답을 요청
r_token = r.json() # 응답 객체의 JSON 형식의 데이터를 딕셔너리 타입으로 변환
r_token

{'access_token': 'BQCJkdErYRqtsLolsUOw6tyJsYblbQAhbNdSs1m6pqAupk_zLI7YntRv_0HGh96-sS5VpT1maQSLfjX92WKBIPpBvDb1g7OTdq1JQUw3iTTTbHzbXYI',
 'token_type': 'Bearer',
 'expires_in': 3600}

In [4]:
def get_spotify_access_token(client_id, client_secret):
    
    url = 'https://accounts.spotify.com/api/token'

    auth_data = {'grant_type': 'client_credentials',
                  'client_id': client_id,
                  'client_secret': client_secret}
        
    r = requests.post(url, data=auth_data) # POST 방법으로 응답을 요청
    r_token = r.json() # 응답 객체의 text 부분을 JSON 형식으로 변환
    
    return r_token['access_token']

In [5]:
ACCESS_TOKEN = get_spotify_access_token(CLIENT_ID, CLIENT_SECRET)
ACCESS_TOKEN

'BQDwVfHWY319LOayNGWqFHa-1Fbg25W22k3174zRSy47M0rpsvDidRi8-RSb-SjZNKVMooE-1CgTzBjuthNLKINDSR76GoW3WdVoRM9-fzi14ZRf390'

In [6]:
import requests

def get_spotify_artist_info(artist_id):
    url = "https://api.spotify.com/v1/artists/{id}".format(id=artist_id)
    ACCESS_TOKEN = get_spotify_access_token(CLIENT_ID, CLIENT_SECRET)
    headers = {"Authorization": "Bearer " + ACCESS_TOKEN}

    r = requests.get(url, headers=headers)

    return r.json()

In [7]:
artist_id = "3HqSLMAZ3g3d5poNaI7GOU" # 아이유의 아티스트 ID
artist_data = get_spotify_artist_info(artist_id)

print("[아티스트 관련 정보]")
print("- 이름:", artist_data['name'])
print("- ID:", artist_data['id'])
print("- 장르:", artist_data['genres'])
print("- 인기도:", artist_data['popularity'])

[아티스트 관련 정보]
- 이름: IU
- ID: 3HqSLMAZ3g3d5poNaI7GOU
- 장르: ['k-pop', 'pop']
- 인기도: 69

In [8]:
artist_id = "3Nrfpe0tUJi4K4DXYWgMUX" # 방탄소년단(BTS)의 아티스트 ID
artist_data = get_spotify_artist_info(artist_id)

print("[아티스트 관련 정보]")
print("- 이름:", artist_data['name'])
print("- ID:", artist_data['id'])
print("- 장르:", artist_data['genres'])
print("- 인기도:", artist_data['popularity'])

[아티스트 관련 정보]
- 이름: BTS
- ID: 3Nrfpe0tUJi4K4DXYWgMUX
- 장르: ['k-pop', 'k-pop boy group', 'pop']
- 인기도: 83

In [9]:
url = "https://api.spotify.com/v1/markets"

ACCESS_TOKEN = get_spotify_access_token(CLIENT_ID, CLIENT_SECRET)
headers = {"Authorization": "Bearer " + ACCESS_TOKEN}

r = requests.get(url, headers=headers)
r.text[:50] # 앞의 일부만 표시
# r.text     # 전체 표시

'{"markets":["AD","AE","AG","AL","AM","AO","AR","AT'

In [10]:
def get_spotify_artist_top_tracks(artist_id, country_code):

    url = "https://api.spotify.com/v1/artists/{id}/top-tracks".format(id=artist_id)
    ACCESS_TOKEN = get_spotify_access_token(CLIENT_ID, CLIENT_SECRET)
    headers = {"Authorization": "Bearer " + ACCESS_TOKEN}
    parameters = {"market": country_code}
    r = requests.get(url, params=parameters, headers=headers)

    return r.json()

In [11]:
import pandas as pd

artist_id = "3HqSLMAZ3g3d5poNaI7GOU" # 아이유의 아티스트 ID
country_code = "KR" # 대한민국의 국가 코드

# 인기곡 정보 JSON 객체 받기
artist_top_tracks_data = get_spotify_artist_top_tracks(artist_id, country_code)
# 인기곡 정보 JSON 데이터에서 곡 정보 객체 리스트 추출
top_tracks = artist_top_tracks_data['tracks']

[type(top_tracks), len(top_tracks)] # top_tracks의 타입과 개수 출력

[list, 10]

In [12]:
top_tracks[0].keys() # 리스트의 첫 번째 요소로 있는 딕셔너리에서 키만 추출

dict_keys(['album', 'artists', 'disc_number', 'duration_ms', 'explicit', 'external_ids', 'external_urls', 'href', 'id', 'is_local', 'is_playable', 'name', 'popularity', 'preview_url', 'track_number', 'type', 'uri'])

In [13]:
# 리스트를 DataFrame 데이터로 변환
df_artist_top_track = pd.DataFrame(top_tracks)
# DataFrame 데이터에서 열 선택
df_artist_top_track2 = df_artist_top_track[['artists', 'name', 'duration_ms', 'id', 'popularity']]

df_artist_top_track2.head()

,artists,name,duration_ms,id,popularity
0,[{'external_urls': {'spotify': 'https://open.s...,Love wins all,271080,0djkJ3iAARXRCbfbwwVc3o,77
1,[{'external_urls': {'spotify': 'https://open.s...,People Pt.2 (feat. IU),213995,41JPN7pZMTp1sumBOHOzHd,70
2,[{'external_urls': {'spotify': 'https://open.s...,eight(Prod.&Feat. SUGA of BTS),167573,0pYacDCZuRhcrwGUA5nTBe,71
3,[{'external_urls': {'spotify': 'https://open.s...,LILAC,214253,5xrtzzzikpG3BLbo4q1Yul,69
4,[{'external_urls': {'spotify': 'https://open.s...,Shopper,215720,1c6kkrWnpy68eYDfBdxNtF,68

In [14]:
def get_artists(artists_info):
    artists_name = []
    for artist_info in artists_info:
        name = artist_info['name'] # 아티스트 정보 중 이름만 추출
        artists_name.append(name)  # 아티스트 이름을 리스트로 묶음
    
    artists_name_str = ", ".join(artists_name) # 리스트로 된 아티스트 이름을 문자열로 변환 
    return artists_name_str

In [15]:
df_artist_top_track3 = df_artist_top_track2.copy() # DataFrame 데이터 복사

# get_artists() 함수를 artists 열의 각 항목에 적용
df_artist_top_track3['artists'] = df_artist_top_track3['artists'].apply(get_artists)
df_artist_top_track3.head()

,artists,name,duration_ms,id,popularity
0,IU,Love wins all,271080,0djkJ3iAARXRCbfbwwVc3o,77
1,"Agust D, IU",People Pt.2 (feat. IU),213995,41JPN7pZMTp1sumBOHOzHd,70
2,"IU, SUGA",eight(Prod.&Feat. SUGA of BTS),167573,0pYacDCZuRhcrwGUA5nTBe,71
3,IU,LILAC,214253,5xrtzzzikpG3BLbo4q1Yul,69
4,IU,Shopper,215720,1c6kkrWnpy68eYDfBdxNtF,68

In [16]:
def convert_msec(msec):
    milliseconds = (msec%1000)
    seconds = (msec/1000) % 60
    seconds = int(seconds)
    minutes = (msec/(1000*60)) % 60
    minutes = int(minutes)
    hours = (msec/(1000*60*60)) % 60
    hours = int(hours)
    
    hms_str = "{0:02d}:{1:02d}:{2:02d}.{3:03d}".format(hours, minutes, seconds, milliseconds)
    return hms_str

In [17]:
df_IU_top_track = df_artist_top_track3.copy() # DataFrame 데이터 복사

# convert_msec() 함수를 duration_ms 열의 각 항목에 적용
df_IU_top_track['duration_ms'] = df_IU_top_track['duration_ms'].apply(convert_msec) 

# duration_ms 열 이름을 duration로 변경
df_IU_top_track.rename(columns={'duration_ms':'duration'}, inplace=True)
df_IU_top_track.head()

,artists,name,duration,id,popularity
0,IU,Love wins all,00:04:31.080,0djkJ3iAARXRCbfbwwVc3o,77
1,"Agust D, IU",People Pt.2 (feat. IU),00:03:33.995,41JPN7pZMTp1sumBOHOzHd,70
2,"IU, SUGA",eight(Prod.&Feat. SUGA of BTS),00:02:47.573,0pYacDCZuRhcrwGUA5nTBe,71
3,IU,LILAC,00:03:34.253,5xrtzzzikpG3BLbo4q1Yul,69
4,IU,Shopper,00:03:35.720,1c6kkrWnpy68eYDfBdxNtF,68

In [18]:
df_IU_top_track.columns = ["아티스트", "곡 제목", "곡의 길이", "곡 ID", "인기도"] # 열 제목을 변경
df_IU_top_track.head()

,아티스트,곡 제목,곡의 길이,곡 ID,인기도
0,IU,Love wins all,00:04:31.080,0djkJ3iAARXRCbfbwwVc3o,77
1,"Agust D, IU",People Pt.2 (feat. IU),00:03:33.995,41JPN7pZMTp1sumBOHOzHd,70
2,"IU, SUGA",eight(Prod.&Feat. SUGA of BTS),00:02:47.573,0pYacDCZuRhcrwGUA5nTBe,71
3,IU,LILAC,00:03:34.253,5xrtzzzikpG3BLbo4q1Yul,69
4,IU,Shopper,00:03:35.720,1c6kkrWnpy68eYDfBdxNtF,68

In [19]:
import pandas as pd

def get_artist_top_track(artist_id, country_code):
    # 인기곡 정보 JSON 객체 받기
    artist_top_tracks_data = get_spotify_artist_top_tracks(artist_id, country_code)
    # 인기곡 정보 JSON 데이터에서 곡 정보 객체 리스트 추출
    top_tracks = artist_top_tracks_data['tracks']

    # 리스트를 DataFrame 데이터로 변환
    df_artist_top_track = pd.DataFrame(top_tracks)
    # DataFrame 데이터에서 열 선택
    df_artist_top_track2 = df_artist_top_track[['artists','name', 'duration_ms', 'id', 'popularity']]
    
    df_artist_top_track3 = df_artist_top_track2.copy() # DataFrame 데이터 복사
    # get_artists() 함수를 artists 열의 각 항목에 적용
    df_artist_top_track3['artists'] = df_artist_top_track3['artists'].apply(get_artists)

    df_artist_top_track4 = df_artist_top_track3.copy() # DataFrame 데이터 복사
    # convert_msec() 함수를 duration_ms 열의 각 항목에 적용
    df_artist_top_track4['duration_ms'] = df_artist_top_track4['duration_ms'].apply(convert_msec)
    
    # duration_ms 열 이름을 duration로 변경
    df_artist_top_track4.rename(columns={'duration_ms':'duration'}, inplace=True)

    # 열 제목을 변경
    df_artist_top_track4.columns = ["아티스트", "곡 제목", "곡의 길이", "곡 ID", "인기도"]
    
    return df_artist_top_track4

In [20]:
artist_id = "3Nrfpe0tUJi4K4DXYWgMUX" # 방탄소년단(BTS)의 아티스트 ID  
country_code = "US" # 미국의 국가 코드

df_BTS_top_track = get_artist_top_track(artist_id, country_code)
df_BTS_top_track.head()

,아티스트,곡 제목,곡의 길이,곡 ID,인기도
0,BTS,Dynamite,00:03:19.053,5QDLhrAOJJdNAmCTJ8xMyW,80
1,"Coldplay, BTS",My Universe,00:03:46.198,46HNZY1i7O6jwTA7Slo2PI,76
2,"Charlie Puth, Jung Kook, BTS",Left and Right (Feat. Jung Kook of BTS),00:02:34.486,5Odq8ohlgIbQKMZivbWkEo,78
3,BTS,FAKE LOVE,00:04:02.333,6m1TWFMeon7ai9XLOzdbiR,77
4,BTS,Butter,00:02:44.952,6jjYDGxVJsWS0a5wlVF5vS,76

In [21]:
def get_spotify_artist_albums_tracks(artist_id, include_groups=None):

    url = "https://api.spotify.com/v1/artists/{id}/albums".format(id=artist_id)
    ACCESS_TOKEN = get_spotify_access_token(CLIENT_ID, CLIENT_SECRET)

    parameters = {"include_groups": include_groups}
    headers = {"Authorization": "Bearer " + ACCESS_TOKEN}
      
    if(include_groups==None): # 앨범 타입을 지정하지 않을 경우 params 인수 없이 호출
        r = requests.get(url, headers=headers)
    else:                     # 앨범 타입을 지정할 경우 params 인수 호출
        r = requests.get(url, params=parameters, headers=headers)

    return r.json()

In [22]:
import pandas as pd

artist_id = "3HqSLMAZ3g3d5poNaI7GOU" # 아이유의 아티스트 ID

# album, single, appears_on, compilation
include_groups = "album,single"

artist_albums_data = get_spotify_artist_albums_tracks(artist_id, include_groups)
# artist_albums_data = get_sptoify_artist_albums_tracks(artist_id)
artist_albums = artist_albums_data['items']

albums_info = []
for album in artist_albums:
    albums_name_release_date = {"name":album['name'],
                                "album_type":album['album_type'],
                                "release_date":album['release_date'],
                                "album_id":album['id'],}
    albums_info.append(albums_name_release_date)

df_albums = pd.DataFrame(albums_info)
df_albums[0:10]

                      name album_type release_date                album_id
0     IU 5th Album 'LILAC'      album   2021-03-25  01dPJcwyht77brL4JQiR8R
1                  Palette      album   2017-04-21  5V8n6fqyAPxvFTibPhQVcp
2  Modern Times – Epilogue      album   2013-12-20  56MqewtCUq5bplrqEYTVL0
3             Modern Times      album   2013-10-08  2QcuXvQBWv1ZKyQtEhLbFe
4             Last Fantasy      album   2011-11-29  149BHv6qAyMgJ483vPi77C
5               Growing Up      album   2009-04-23  2xJZSgxlKvcOCR2aLA8Pq2
6              The Winning     single   2024-02-20  08CvAj58nVMpq1Nw7T6maj
7            Love wins all     single   2024-01-24  2bwwRhKbLeD3LvNDXauV2T
8   People Pt.2 (feat. IU)     single   2023-04-07  1l12B55qdesQorPcQLJDRo
9      Mother Nature (H₂O)     single   2022-01-27  6gdnJ11QQyvpVljTUR3BWw

In [23]:
df_albums[df_albums['album_type']=='album']

                      name album_type release_date                album_id
0     IU 5th Album 'LILAC'      album   2021-03-25  01dPJcwyht77brL4JQiR8R
1                  Palette      album   2017-04-21  5V8n6fqyAPxvFTibPhQVcp
2  Modern Times – Epilogue      album   2013-12-20  56MqewtCUq5bplrqEYTVL0
3             Modern Times      album   2013-10-08  2QcuXvQBWv1ZKyQtEhLbFe
4             Last Fantasy      album   2011-11-29  149BHv6qAyMgJ483vPi77C
5               Growing Up      album   2009-04-23  2xJZSgxlKvcOCR2aLA8Pq2

In [24]:
import pandas as pd

def get_artist_albums(artist_id, include_groups=None):
    
    artist_albums_data = get_spotify_artist_albums_tracks(artist_id, include_groups)
    artist_albums = artist_albums_data['items']

    albums_info = []
    for album in artist_albums:
        albums_name_release_date = {"name":album['name'],
                                    "album_type":album['album_type'],
                                    "release_date":album['release_date'],
                                    "album_id":album['id'],}
        albums_info.append(albums_name_release_date)

    df_albums = pd.DataFrame(albums_info)
    return df_albums

In [25]:
artist_id = "6OwKE9Ez6ALxpTaKcT5ayv" # 악동뮤지션(악뮤)의 아티스트 ID

df_AKMU_albums = get_artist_albums(artist_id)
df_AKMU_albums.head()

                       name album_type release_date                album_id
0  AKMU 'SAILING' TOUR LIVE      album   2020-07-03  1LjVPwNUFOYgZBjur0BWkz
1                   SAILING      album   2019-09-25  7C0Ci0alKWwwXPIFYEdVcn
2                    WINTER      album   2017-01-03  0xrAlQfw3MZ5QGhw2NptQt
3                      PLAY      album   2014-04-07  1eu07xRE0vQfN5et0Y3DAy
4                  Love Lee     single   2023-08-21  47xcjDSi1t6pQE2RvXKdUF